@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1E40AF;
  --secondary: #F97316;
  --accent: #0EA5E9;
}

body {
  @apply bg-gray-50 text-gray-900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
